:root {
  --main_tc: #757575;
  --black_title_tc: #212121;
  --white_title_tc: #ffffff;
  --a_title_tc: #2196f3;

  --white_bg: #ffffff;
  --team_bg: #f5f4fa;
  --dark_bg: #2f303a;
  --btn_bg: #2196f3;
  --dtn_h_bg: #188ce8;
  --icon_bg: #afb1b8;
  --work_bg: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main_tc);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.head_cont .container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.head_cont_b {
  border: 1px solid #ececec;
}

.foot_cont .container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

.dark_cont .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo_h {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black_title_tc);
  text-decoration: none;
  margin-right: 90px;
}

.logo_f {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white_title_tc);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  width: 145px;
}

.logo {
  color: var(--a_title_tc);
}

.footer_list {
  display: flex;
  justify-content: flex-start;
}

.footer_list_item {
  margin-right: 70px;
}

.link {
  color: inherit;
  text-decoration: none;
  height: 30px;
}

.link:hover,
.link:focus {
  color: var(--a_title_tc);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.phone_svg {
  stroke: var(--main_tc);
  margin-right: 10px;
  fill: currentColor;
  stroke: currentColor;
}

line. {
  display: block;
  position: relative;
}

.line::after {
  content: '' ;

  position: absolute;
  left: 0;
  bottom: -33.5px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--btn_bg);
}

.current {
  color: var(--a_title_tc);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.address {
  font-style: inherit;
  color: var(--white_title_tc);
}

.address_light {
  color: rgba(255, 255, 255, 0.6);
}

.address_white {
  color: var(--white_title_tc);
}

.menu {
  display: inline-flex;
}

.menu_item {

  display: block;
  position: relative;
}

.menu_item:not(:last-child) {
  margin-right: 50px;
}

.menu_portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu_p_item:not(:last-child) {
  margin-right: 10px;
}

.menu_f:not(:last-child) {
  margin-bottom: 10px;
}

.nav {
  margin-right: auto;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black_title_tc);
}

.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.btn {
  display: block;
  padding: 10px 32px;
  border: 0px;
  background-color: var(--btn_bg);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white_title_tc);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover,
.btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--dtn_h_bg);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn1 {
  padding: 6px 22px;
  border: 0px;
  background-color: var(--team_bg);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black_title_tc);
  border-radius: 4px;
}

.btn1:hover,
.btn1:focus {
  background-color: var(--btn_bg);
  color: var(--white_title_tc);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card_set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  margin-left: 30px;
  margin-top: 30px;
}

.thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.thumb > .label {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding-top: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white_title_tc) ;
  background: rgba(47, 48, 58, 0.8);
}

.thumb > .label_p {
  position: absolute;
  width: 370px;
  height: 294px;
  bottom: 0;
  margin: 0;
  
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.pp {
  padding-top: 63px;
  margin: 0 auto;
  width: 322px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white_title_tc);
}

.li_portfolio:hover .label_p,
.li_portfolio:focus .label_p {
  animation-duration: 250ms;
  animation-name: bounce;
  animation-iteration-count: 1;
  opacity: 1;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bounce {
  from {
    margin-bottom: 0px;
    height: 0px;
  }

  to {
    margin-bottom: 0px;
    height: 100%;
  }
}

.img {
  display: block;
  max-width: 100%;
}

.work_ikon {
  width: 270px;
  height: 120px;
  background: var(--work_bg);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_icons_svg {
  width: 70px;
  height: 70px;
  fill: var(--black_title_tc);
}

.social_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social_icons_item:not(:last-child) {
  margin-right: 10px;
}

.social_icons_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white_bg);
}

.social_icons_link:hover .social_icons_svg,
.social_icons_link:focus .social_icons_svg {
  fill: var(--white_bg);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social_icons_link:hover,
.social_icons_link:focus {
  background-color: var(--btn_bg);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social_icons_svg {
  width: 20px;
  height: 20px;
  fill: var(--icon_bg);
}

.f_social_icons_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);;
}

.f_social_icons_link:hover,
.f_social_icons_link:focus {
  background-color: var(--btn_bg);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.f_social_icons_svg {
  width: 20px;
  height: 20px;
  fill: var(--white_bg);
}

.client_icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.client_item {
  width: 170px;
  height: 92px;
  background: var(--white_bg);
}


.client_icons_link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon_bg);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.client_icons_link:hover ,
.client_icons_link:focus  {
  border: 1px solid var(--a_title_tc);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client_icons_link:hover .client_icons_svg,
.client_icons_link:focus .client_icons_svg {
  fill: var(--a_title_tc);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client_icons_svg {
  fill: var(--icon_bg) ;
}

.padding_top {
  padding-top: 95px;
}

.padding_bottom {
  padding-bottom: 95px;
}

.p_kredo {
  width: 270px;
  height: 75px;
}

.li_portfolio {
  background: var(--white_bg);
  outline: 1px solid #eeeeee;
  box-sizing: border-box;
}

.li_portfolio:hover,
.li_portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team {
  background: var(--white_bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.pth1 {
  margin: 0 auto 30px auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white_title_tc);
}

.pth2 {
  margin: 0px;
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black_title_tc);
}

.pth3_work {
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black_title_tc);
}

.pth3_team {
  margin-top: 0px;
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black_title_tc);
}

.p_team {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.pth3_filter {
  margin: 20px 0px 5px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black_title_tc);
  padding-left: 24px;
  padding-bottom: 0px;
}

.p_filter {
  font-size: 16px;
  line-height: 1.87;
  padding-left: 24px;
  margin: 0px 0px 20px 0px;
}

.add {
  margin-top: 12px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white_bg);
  padding-bottom: 20px;
 }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

}
.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white_title_tc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn_m_close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.white_bg {
  background-color: var(--white_bg);
}

.light_bg {
  background-color: var(--light_bg);
}

.team_bg {
  background-color: var(--team_bg);
}

.hero_bg {
  background-color: var(--dark_bg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.dark_bg {
  background-color: var(--dark_bg);
}
